{% extends 'base.html' %}
{% load static %}

{% block title %}
  Core
{% endblock %}

{% block main %}
    <h1 class="display-5"> Gestão RH Core </h1>
    {% if usuario.is_authenticated %}
        <a href="{% url 'logout' %}"> Sair </a>
    {% else %}
        <a href="{% url 'login' %}"> Logar </a>
    {% endif %}

    <hr>
    <p>Usuário logado: {{usuario}} | {{usuario.funcionario.nome}} </p>
    <a href="{% url 'list_funcionarios' %}"> Gerenciar Funcionário </a> <br>
    <a href="{% url 'list_departamentos' %}"> Gerenciar Departamentos </a> <br>

    <!-- Garantindo que o funcionário veja detalhes somente da empresa dele-->
    {% if usuario.funcionario.empresa %}
        <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}"> Editar empresa </a>

    {% else %}
        <a href="{% url 'create_empresa' %}"> Criar empresa </a>
    {% endif %}
{% endblock %}