{% extends 'base.html' %}
{% load static %}

{% block title %}
  Funcionários
{% endblock %}

{% block main %}
    <h1 class="display-5"> Funcionários </h1>
    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Cadastrar funcionário </a>
<!--    <a href="{% url 'pdf_reportlab' %}" class="btn btn-primary"> Relatório funcionários </a>-->
    <a href="{% url 'pdf_reportlab' %}" class="btn btn-primary"> {{report_button}} </a>
    <a href="{% url 'pdf_xhtml' %}" class="btn btn-primary"> Relatório XHTML </a>
    <hr>

    {% for funcionario in object_list %}
        <p> <a href="{% url 'update_funcionario' funcionario.pk %}"> Nome: {{funcionario.nome}} </a> </p>
        <p> Empresa: {{funcionario.empresa}} </p>
        <p> <a href="{% url 'delete_funcionario' funcionario.pk %}"> Deletar </a> </p>
        <br>
    {% endfor %}

{% endblock %}